.NavbarSubCardsBox{
    width: 200px;
    height: 400px;
    border: 2px solid red;
    position: absolute;
    background-color: red;
     position: absolute;
    top:50px;
}
.NavbarMegaMenu{
   
    left:350px;
}
.NavbarProjects{

    left:590px;
}
.NavbarMegaSettings{

    left:480px;
}
.NavbarUserProfile{

    right:180px;
}
.NavbarLeftHamburger{
    left: 64px;
}
.NavbarRightHamburger{
    right: 60px;
}
.NavbarGridViewIcon{
    left:950px;
}
.NavbarBellIcon{
    right:400px;
}
.NavbarCountryIcon{
    right: 350px;
}